@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Employee Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
           @foreach (var emp in Model)
           {
               <tr>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Role</td>
               </tr>
        }
    </tbody>
</table>