@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <table class="table">
    <thead>
        <tr>
            <th>user_id</th>
            <th>email</th>
            <th>first_name</th>
        </tr>
    </thead>
    <tbody>
           @foreach (var user in Model)
           {
               <tr>
                <td>@user.user_id</td>
                <td>@user.email</td>
                <td>@user.first_name</td>
               </tr>
        }
    </tbody>
</table> *@